<!--  라이프뷰사진앨범으로 보기 -->
<template name="lifeViewImageAlbum">
  <div class="wrapper">
    <div class="content lifeview-album h-scroll hl-scroll">
      <div class="lifeview-maincontent">
        <div class="row">
          <div class="search-container">
            <div class="container-fluid">
              <div class="navbar-left search-box">
                <select class="selectpicker imgAlbum" data-width="50px" name="options" id="keywordCondition">
                  <option value="all">전체</option>
                  <option value="title">제목</option>
                  <option value="content">내용</option>
                  <option value="tag">태그</option>
                </select>
                <form id="custom-search-form" class="form-search form-horizontal pull-right">
                  <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search" id="keywordText">
                    <button type="submit" class="btn" id="searchAlbum"><i class="imsr-icon icon-in0007"></i></button>
                  </div>
                </form>
              </div>
              <!-- <span class="search-total">총 <strong>{{g_subtraction hpImages.imageCount hpImages.excludedimages.length}}</strong>건</span> -->
              <span class="search-total">총 <strong>{{hpImages.imageCount}}</strong>건</span>

              <!-- <div class="type-im">
               <div class="input-group"> -->
               {{#if hpIsPageOwner}}
               <div class="checkbox">
                 <input type="checkbox" id="chkShowLocks">
                 <label for="chkShowLocks"></label>
               </div>
               <span>비공개글 포함</span>
               {{/if}}
               <!-- </div>
             </div> -->
              {{#if g_userAuth g_getPageOwnerId}}
                <!-- <a class="btn btn-default btn-sm user-add" role="button" id="customSave">사용자정의순 저장</a> -->
                {{> imageAlbumSort type='owner'}}
              {{else}}
                {{> imageAlbumSort type='visitor'}}
              {{/if}}
            </div>
          </div>

          {{#if hpImages}}
            {{#if hpIsChanged}}
              {{> imageAlbum imageData=hpImages.images}}
            {{else}}
              {{> imageAlbum imageData=hpImages.images}}
            {{/if}}
          {{else}}
            등록된 이미지가 없습니다.
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <!-- {{#if hpImages}}
    {{#if hpIsChanged}}
    <div class='over album'>
      <div class='hideSelector'>
        <div class='col-xs-10'>
          <a herf="javascript:void(0)" name="imgCount"><i class="imsr-icon icon-me0019" style="color:red;"></i> 표시하지 않은 사진 <strong>{{hpImages.excludedimages.length}}</strong>개</a>
        </div>
        <div class='col-xs-2'>
          {{#if hpShowAddButton}}
          <a href="javascript:void(0)" class="lifeview-album-addBtn" name="addAlbumImg">추가하기 <i class="imsr-icon icon-plus-circled"></i></a>
          {{/if}}
        </div>
      </div>
      {{#if hpIsPageOwner}}
      <div class='hideTarget'>
        {{> imageAlbumSliderView excludedImageData=hpImages.excludedimages}}
      </div>
      {{/if}}
    </div>
    {{else}}
      {{#if hpIsPageOwner}}
      <div class='over album'>
        <div class='hideSelector'>
          <div class='col-xs-10'>
            <a herf="javascript:void(0)" name="imgCount"><i class="imsr-icon icon-me0019" style="color:red;"></i> 표시하지 않은 사진 <strong>{{hpImages.excludedimages.length}}</strong>개</a>
          </div>
          <div class='col-xs-2'>
            {{#if hpShowAddButton}}
            <a href="javascript:void(0)" class="lifeview-album-addBtn" name="addAlbumImg">추가하기 <i class="imsr-icon icon-plus-circled"></i></a>
            {{/if}}
          </div>
        </div>
        <div class='hideTarget'>
          {{> imageAlbumSliderView excludedImageData=hpImages.excludedimages}}
        </div>
      </div>
      {{/if}}
    {{/if}}
  {{/if}} -->
</template>

<template name="imageAlbum">
  <div class="album">
    <div class="gallery">
      {{#each imageData}}
        <!-- <a herf="" class="my-item dropdown-toggle" data-toggle="popover" name="{{#if g_isEqual type 'BS'}}{{parentPostId}}{{else}}{{postId}}{{/if}}" typeData="{{type}}" postId="{{postId}}" path="{{path}}"> -->
        {{#if g_isEqual this.exclusionDate ''}}
        <a herf="" class="my-item dropdown-toggle" name="lifeViewImg" data-toggle="popover" typeData="{{type}}" postId="{{postId}}" path="{{path}}">
          <img class="gallery-img" height="182px" src="{{path}}" order="{{order}}">
          <!-- {{#if hpIsPageOwner}}
            <div class="gallery-btnExclude">
              <a class="btn btn-default btn-sm" href="javascript:void(0)" role="button" name="btnExcludeImg">이미지 제외</a>
            </div>
          {{/if}} -->
        </a>

        <!-- <div class = "gallery-infomation" style="position: absolute; min-width: 111px ;top: 0px; margin: 0 0 0 0; padding: 4px; background-color: white; border-radius: 2px !important; opacity: 0.9; box-shadow: rgb(0, 0, 0) 2px 2px 7px 0px; border: 2px solid rgb(255, 135, 121) !important;">
          <h4 class="media-heading subject-title">
            <div>
              <a href="" class="ellipsis-106" id="title">{{this.title}}</a>
            </div>
            <div>
              <small class="text-right">{{this.startDate}}</small>
              <a href="javascript:void(0)" role="button" name="btnExcludeImg"><small class="text-right">이미지 제외</small></a>
            </div>
          </h4>
          <div class="group-box" role="group" aria-label="...">
            <span class="group-xs" style="font-size:1px; min-width:31px; padding: 3px 1px;"><i class="imsr-icon icon-me0045 red heart " aria-hidden="true"></i>{{this.likeCnt}}</span>
            <span class="group-xs" style="font-size:1px; min-width:31px; padding: 3px 1px;"><i class="imsr-icon icon-me0023 red"  aria-hidden="true"></i>{{this.commentCnt}}</span>
            <span class="group-xs" style="font-size:1px; min-width:31px; padding: 3px 1px;"><i class="imsr-icon icon-me0024 red"  aria-hidden="true"></i>{{this.hitCnt}}</span>
          </div>
        </div> -->
        {{/if}}
      {{/each}}
    </div>
  </div>
</template>

<template name="imageAlbumSort">
  <div class="navbar-right">
    <select class="selectpicker imgAlbum" data-width="86px"  name="options" id="imgAlbumSort">
      {{#if g_userAuth g_getPageOwnerId}}
      <option value="startDateAsc" data-content="추억일<i class='imsr-icon icon-up-dir'></i>">추억일 ▲</option>
      <option value="startDateDesc" data-content="추억일<i class='imsr-icon icon-down-dir'></i>">추억일 ▼</option>
      <option value="regDateAsc" data-content="등록일<i class='imsr-icon icon-up-dir'></i>">등록일 ▲</option>
      <option value="regDateDesc" data-content="등록일<i class='imsr-icon icon-down-dir'></i>">등록일 ▼</option>
      <option value="like" data-content="인기순<i class='glyphicon imsr-icon icon-down-dir'></i>">인기순 ▼</option>
      <!-- <option value="custom">사용자지정</option> -->
      {{else}}
      <!-- <option value="custom">사용자지정</option> -->
      <option value="like" data-content="인기순<i class='glyphicon imsr-icon icon-down-dir'></i>">인기순 ▼</option>
      {{/if}}
    </select>
  </div>
</template>

<!-- <template name="imageAlbumSliderView">
  <div class="sliderview type02" id="imageAlbumSlider" style="width: 585px;">
  {{#each excludedImageData}}
  <div>
    <div class="image">
        <img src="{{g_makeImageString this.path 'thumb'}}" style="{{g_setImageSize (g_makeImageString this.path 'thumb') 'imgSlider56'}}"/>
      <div id="slidePost" hidden>{{this.postId}}</div>
      <div id="slideType" hidden>{{this.type}}</div>
    </div>
  </div>
  {{/each}}
  </div>
</template> -->
