<template name="customerWriteFaq">
  <div class="h-scroll hi-scroll">
    <!-- mypage-title -->
    <div class="mypage-title">
      <h2>FAQ 작성(임시화면)</h2>
    </div>
    <!-- mypage-title -->
    <!-- content -->
    <div class="content">
      <div class="tab-content inner line">
        <!-- tab-pane -->
        <div id="profile" class="tab-pane fade in active">
          <div class="mypage-form" style="width:100%;">
            <!-- row -->
            <div class="row">
              <div class="col-xs-2">제목</div>
              <div class="col-xs-10">
                <input type="text" placeholder="" id="customerFaqtitle" style="width:100%;"/>
              </div>
              <select class="dropdown-select-version select" name="options" id="category">
                <option value="통상질문">통상질문</option>
                <option value="로그인">로그인</option>
                <option value="시스템">시스템</option>
              </select>
            </div>
            <!-- row -->
            <!-- row -->
            <div class="row">
              <div class="col-xs-2">질문</div>
              <div class="col-xs-10 editor-content" id="qestionDiv">
                {{> froalaReactive hpGetContext }}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2">답변</div>
              <div class="col-xs-10 editor-content" id="answerDiv">
                {{> froalaReactive hpGetContext }}
              </div>
            </div>
            <!-- row -->
            <!-- row -->
            <!-- <div class="row">
              <div class="col-xs-2">파일첨부</div>
              <div class="col-xs-10" id="fileList">
                <div id="fileSet" name="fileSet">
                <input type="file" placeholder="" id="inputFile1" name="inputFile1" style="width:210px;"/><a class="btn-tagDelete" id='frListTag'></a>
                </div>
              </div>
              <a href="javascript:void(0)" class="mypage-btn inner" id="addAtachFile">파일추가</a>
            </div> -->
            <!-- row -->
          </div>
          <!-- mypage-content-btnSet -->
          <div class="mypage-content-btnSet text-center mt30">
            <a href="javascript:void(0)" class="mypage-cancle" id="cancel">취소</a>
            <a href="javascript:void(0)" class="mypage-add" id="save">저장</a>
          </div>
          <!-- //mypage-content-btnSet -->
        </div>
        <!-- //tab-pane -->
      </div>
    </div>
  </div>


</template>
