<!-- 마이페이지 > 댓글 -->
<template name="customerFaq">
<div class="h-scroll hi-scroll">
  <!-- mypage-title -->
  <div class="mypage-title">
    <h2>Faq</h2>
  </div>
  <!-- mypage-title -->
  <!-- content -->
  <div class="content">
    <!-- addInheritor-searchContainer -->
    <div class="mypage-searchContainer">
      <!-- row -->
      <div class="row">
        <!-- search-box -->
        <div class="col-xs-6 search-box">
          <select class="selectpicker" data-width="65px" name="keywordTypeSend" id="keywordTypeSend">
            <option value="content">내용</option>
            <option value="title">제목</option>
            <option value="category">카테고리</option>
          </select>
          <form id="custom-search-form" class="form-search form-horizontal" onsubmit="return false">
            <div class="input-append span12">
              <input type="text" class="search-query" placeholder="" name="keywordTextSend" id="keywordTextSend">
              <button class="btn" name="searchBtReceive"><i class="imsr-icon icon-in0007"></i></button>
            </div>
          </form>
          <span>총 <strong>{{hpGetLength}}</strong>건</span>
        </div>
        <!-- //sort-box -->
      </div>
      <!-- //row -->
    </div>
    <!-- //addInheritor-searchContainer -->
    <!-- mypage-assets-table -->
    <div class="mypage-assets-table requestReady">
        <!-- panel-table -->
        <div class="panel panel-default panel-table row-sm no-link type-link">
          <!-- panel-head -->
          <div class="panel-heading">
            <div class="tr">
                <div class="th" style="width:10%;">No</div>
                <div class="th" style="width:20%;">카테고리</div>
                <div class="th" style="width:50%;">제목</div>
                <div class="th" style="width:20%;">등록일</div>
            </div>
          </div>
          <!-- //panel-head -->
          <!-- panel-body -->
          <div class="panel-body">
            {{#each hpGetFaqData}}
            {{#if g_isEqual hpGetPageIndex this.index}}
            {{#each data}}
          <!-- {{#each hpLikeData.to}} -->
            <!-- tr -->
            <div class="tr" id="faqRow">
              <div class="td">{{rowIndex}}</div>
              <div class="td">{{category}}</div>
              <div class="td left"><a id="{{_id}}" name="title" target="_blank">{{title}}</a></div>
              <div class="td">{{g_dateFormChange regDate 'defaultYMD'}}</div>
            </div>
            <div class="tr detail">
              <div class="td colspan" id="faqDetail{{_id}}" style="margin-right: 99px; display: none;">
              <!-- notice-detail -->
                <div class="faq-detail">
                  <div class="detail-head">
                    <div class="row">
                      <div class="col-xs-1 answerTxt">Q.</div>
                      <div class="col-xs-8 detail-content" id="faqQusDiv">
                        {{> froalaReactive hpGetContext}}
                      </div>
                      <div class="col-xs-4 text-right">
                        {{#if g_supportAuth}}
                        <a href="javascript:void(0)" id="editFaqCon">답변수정</a>
                        <a href="javascript:void(0)" id="deleteFaqCon">답변삭제</a>
                        <span class="date">{{g_dateFormChange regDate 'defaultHMS'}}</span>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  <!-- 파일 안스면 삭제 -->
                                  <!-- {{#if hpGetEmptyParam file}}
                                  <div class="detail-attach text-right">
                                    <div class="attach-file">
                                      <a href="javascript:{{hpGetPrePath file}}" download>
                                        <i class="imsr-icon icon-bu0004"></i>
                                        <span class="file-name">첨부파일</span> -->
                                        <!-- <span class="file-length">(2)</span> -->
                                      <!-- </a>
                                    </div>
                                  </div>
                                  {{/if}} -->
                  <div class="detail-body">
                    <div class="row">
                      <div class="col-xs-1 answerTxt">A.</div>
                      <div class="col-xs-11 detail-content" id="faqAnsDiv">
                        {{> froalaReactive hpGetAnswerContext}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //notice-detail -->
              </div>
            </div>
            {{/each}}
            {{/if}}
            {{/each}}
          </div>
          <!-- //panel-body -->
        </div>
        <!-- //panel-table -->
        <!-- pagination -->
        <div class="row text-center">
          <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm mypage">
              <li>
                <a href="javascript:void(0)" aria-label="Previous" class="disabled">
                  <span aria-hidden="true"><i class="imsr-icon icon-li0002"></i><i class="imsr-icon icon-li0002"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" aria-label="Previous" class="disabled">
                  <span aria-hidden="true"><i class="imsr-icon icon-li0002"></i></span>
                </a>
              </li>
              {{#each hpGetFaqData}}
              <li class="active"><a href="javascript:void(0)" id="pageBt">{{index}}</a></li>
              {{/each}}
              <li>
                <a href="javascript:void(0)" aria-label="Next">
                  <span aria-hidden="true"><i class="imsr-icon icon-li0003"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" aria-label="Next">
                  <span aria-hidden="true"><i class="imsr-icon icon-li0003"></i><i class="imsr-icon icon-li0003"></i></span>
                </a>
              </li>
            </ul>
            </nav>
        </div>
        <!-- pagination -->
      </div>
      <!-- //mypage-assets-table -->
    </div>
  </div>
</template>
