<template name="inheritanceTimelineHeader">
  <!-- header -->
  <div id="header">
    <h1><img src="/images/common/logo.gif" alt="it's my story" /><span class="logo-slogun"><img src="/images/common/logo_slogun.gif" alt="it's my story" /></span></h1>
    <!-- nav -->
    <div class="gnb">
      <ul id="gnbList" class="">
        <li class="{{hpIsSelected 'endingNote'}}" name="endingNote"><a herf="#">ENDING <strong>NOTE</strong></a></li>
        <li class="{{hpIsSelected 'lifeView'}}" name="lifeView"><a herf="#">LIFE <strong>VIEW</strong></a></li>
      </ul>
    </div>
    <!-- nav -->
  </div>
  <!-- // header -->
</template>
