<template name="findPassword">
  <!-- content -->
<div class="login-content find-content">
  <div class="login-container">
    <div class="login-head">
      <h1><img src="/images/common/logo.gif" alt="it's my story" /><span class="logo-slogun"><img src="/images/common/logo_slogun.gif" alt="it's my story" /></span></h1>
    </div>
    <div class="login-step">
      <span class="active"><i class="imsr-icon icon-dot"></i></span>
      <span class=""><i class="imsr-icon icon-dot"></i></span>
      <span class=""><i class="imsr-icon icon-dot"></i></span>
    </div>
    <div class="login-title">
      <div class="title-box">
        <span class="title">비밀번호를 잊으셨나요?</span>
        <div class="sub-title">비밀번호를 찾고자 하는 아이디를 입력해주세요.</div>
      </div>
    </div>
    <!-- login-body -->
    <div class="login-body">
      <div class="body-title">
        <span>계정정보</span>
      </div>
      <!-- login-box -->
      <div class="login-box">
        <div class="box-body info">
          <!-- row -->
          <div class="row">
            <div class="col-xs-2">아이디</div>
            <div class="col-xs-10">
              <input type="text" name="userId" style="width:100%;"/>
            </div>
          </div>
          <!-- //row -->
        </div>
      </div>
      <!-- //login-box -->
      <div class="login-footer text-right">
        <!-- row -->
        <div class="row find">
          <div class="col-xs-2"></div>
          <div class="col-xs-10">
            <span>아이디가 기억나지 않으세요?</span>
            <a href="javascript:void(0)" name="findId">아이디 찾기</a>
          </div>
        </div>
        <!-- //row -->
      </div>
    </div>
    <!-- //login-body -->
    <!-- login-btn-group -->
    <div class="login-btn-group">
      <a href="javascript:void(0)" class="prev-btn" name="previous"><i class="imsr-icon icon-lg0001"></i> <span>이전으로</span></a>
      <a href="javascript:void(0)" class="login-btn" name="next">다음단계</a>
    </div>
  </div>
</div>
  <!-- //content -->
</template>
