<template name="findPassword2">
  <!-- content -->
<div class="login-content find-content">
  <div class="login-container">
    <div class="login-head">
      <h1><img src="/images/common/logo.gif" alt="it's my story" /><span class="logo-slogun"><img src="/images/common/logo_slogun.gif" alt="it's my story" /></span></h1>
    </div>
    <div class="login-step">
      <span class=""><i class="imsr-icon icon-dot"></i></span>
      <span class=""><i class="imsr-icon icon-dot"></i></span>
      <span class="active"><i class="imsr-icon icon-dot"></i></span>
    </div>
    <div class="login-title">
      <div class="title-box">
        <span class="title">비밀번호를 잊으셨나요?</span>
        <div class="sub-title">새로 사용할 비밀번호를 입력해 주세요.</div>
      </div>
    </div>
    <!-- login-body -->
    <div class="login-body">
      <div class="body-title">
        <span>비밀번호 재설정</span>
      </div>
      <!-- login-box -->
      <div class="login-box">
        <div class="box-body info">
          <!-- row -->
          <div class="row">
            <div class="col-xs-2">아이디</div>
            <div class="col-xs-10">
              <!-- <input type="text" name="userId" value="{{hpCollection.username}}" style="width:100%;"/> -->
              {{hpIdcut}}
            </div>
          </div>
          <!-- //row -->
          <!-- row -->
          <div class="row pass">
            <div class="col-xs-2">비밀번호</div>
            <div class="col-xs-10">
              <div class="input-article icon-style" style="width:100%;">
                <input type="password" placeholder="영문, 숫자, 특수문자 결합 (8자이상)" name="pw1" style="width:100%;"/>
                {{#if hpPw1Check}}
                  <i class="imsr-icon icon-lg0003"></i>
                {{else}}
                  <i class="imsr-icon icon-lg0004"></i>
                {{/if}}
              </div>
            </div>
          </div>
          <!-- //row -->
          <!-- row -->
          <div class="row error">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
              <div class="input-article icon-style" style="width:100%;">
                <input type="password" placeholder="비밀번호 재확인" name="pw2" style="width:100%;"/>
                {{#if hpPw2Check}}
                  <i class="imsr-icon icon-lg0003"></i>
                {{else}}
                  <i class="imsr-icon icon-lg0004"></i>
                {{/if}}
              </div>
              <p class="error">
                {{#unless hpPw2Check}}
                  비밀번호가 일치하지 않습니다.
                {{/unless}}
              </p>
            </div>
          </div>
          <!-- //row -->
        </div>
      </div>
      <!-- //login-box -->
      <div class="login-footer text-center">
        <!-- row -->
        <div class="row">
          <div class="col-xs-12">
            <p>영문, 숫자, 특수문자를 함께 사용하는 것이 보다 안전합니다.</p>
            <p>반복되는 숫자 및 문자 패턴은 피하는 것이 좋습니다.</p>
          </div>
        </div>
        <!-- //row -->
      </div>
    </div>
    <!-- //login-body -->
    <!-- login-btn-group -->
    <div class="login-btn-group">
      <a href="javascript:void(0)" class="prev-btn" name="previous"><i class="imsr-icon icon-lg0001"></i> <span>이전으로</span></a>
      <a href="javascript:void(0)" class="login-btn" name="next">로그인하기</a>
    </div>
  </div>
</div>
  <!-- //content -->
</template>
