<template name="register4">
  <!-- content -->
<div class="login-content join-content h-scroll">
  <div class="login-container">
    <div class="login-head">
      <h1><img src="/images/common/logo.gif" alt="it's my story" /><span class="logo-slogun"><img src="/images/common/logo_slogun.gif" alt="it's my story" /></span></h1>
    </div>
    <div class="login-step">
      <span class=""><i class="imsr-icon icon-dot"></i></span>
      <span class=""><i class="imsr-icon icon-dot"></i></span>
      <span class=""><i class="imsr-icon icon-dot"></i></span>
      <span class="active"><i class="imsr-icon icon-dot"></i></span>
      <span class=""><i class="imsr-icon icon-dot"></i></span>
    </div>
    <div class="login-title">
      <div class="title-box">
        <span class="title">결재정보 입력</span>
        <div class="sub-title">결제예정일 <span class="black">3일 전</span>에 문자로 안내메시지를 보내드립니다.</div>
      </div>
    </div>
    <!-- login-body -->
    <div class="login-body" style="width:630px;">
      <div class="row">
        <div class="payment-box fr">
          <div class="payment-info fl">
            <p>강화된 보안적용</p>
            <p><a href="javascript:void(0)">자세히알아보기</a></p>
          </div>
          <div class="payment-img">
            <img src="/images/icon/icon_payment.gif" alt=""/>
          </div>
        </div>
      </div>
    </div>
    <!-- //login-body -->
    <!-- login-btn-group -->
    <div class="login-btn-group" style="margin-top:100px;">
      <a href="javascript:void(0)" class="prev-btn" name="previous"><i class="imsr-icon icon-lg0001"></i> <span>이전으로</span></a>
      <a href="javascript:void(0)" class="login-btn" name="next">다음단계</a>
    </div>
  </div>
</div>
  <!-- //content -->
</template>
