<!-- 마이페이지 > 댓글 -->
<template name="myPageComment">
<div class="h-scroll hi-scroll">
  <!-- mypage-title -->
  <div class="mypage-title">
    <h2>댓글</h2>
  </div>
  <!-- mypage-title -->
  <!-- content -->
  <div class="content">
    <div class="ui-tabs">
      <ul class="nav nav-pills nav-detail">
        <li class="active" id="toTab"><a data-toggle="pill" href="#to">내가 작성한 댓글</a></li>
        <li class="" id="fromTab"><a data-toggle="pill" href="#from">내게 작성한 댓글</a></li>
      </ul>
    </div>

    <div class="mypage-searchContainer">
      <!-- row -->
      <div class="row">
        <!-- search-box -->
        <div class="col-xs-6 search-box">
          <select class="selectpicker" data-width="65px" name="keywordCondition">
            <option value="all">전체</option>
            <option value="title">제목</option>
            <option value="nick">별명</option>
          </select>
          <form id="custom-search-form" class="form-search form-horizontal">
            <div class="input-append span12">
              <input type="text" class="search-query" placeholder="" name="keywordText">
              <button type="submit" class="btn" name="search"><i class="imsr-icon icon-in0007"></i></button>
            </div>
          </form>
          <span>총 <strong>{{hpCount}}</strong>건</span>
        </div>
        <!-- //search-box -->
        <!-- sort-box -->
        <div class="col-xs-6 sort-box">
          <select class="selectpicker" data-width="80px"  name="selectSort">
            <option value="regDateDesc" data-content="등록일<i class='imsr-icon icon-down-dir'></i>">등록일 ▼</option>
            <option value="regDateAsc" data-content="등록일<i class='imsr-icon icon-up-dir'></i>">등록일 ▲</option>
            <option value="titleDesc" data-content="제목<i class='imsr-icon icon-down-dir'></i>">제목 ▼</option>
            <option value="titleAsc" data-content="제목<i class='imsr-icon icon-up-dir'></i>">제목 ▲</option>
          </select>
        </div>
        <!-- //sort-box -->
      </div>
      <!-- //row -->
    </div>

    <div class="tab-content">
      <div id="to" class="tab-pane fade in active">
        <!-- mypage-assets-table -->
        <div class="mypage-assets-table requestReady">
            <!-- panel-table -->
            <div class="panel panel-default panel-table row-sm no-link type-link mypage">
              <!-- panel-head -->
              <div class="panel-heading">
                <div class="tr">
                    <div class="th" style="width:10%;">구분</div>
                    <div class="th" style="width:50%;">제목</div>
                    <div class="th" style="width:25%;">별명</div>
                    <div class="th" style="width:15%;">등록일</div>
                </div>
              </div>
              <!-- //panel-head -->
              <!-- panel-body -->
              <div class="panel-body">
              {{#each hpCommentData.to}}
                <!-- tr -->
                <div class="tr">
                  <div class="td">{{type}}</div>
                  <div class="td left"><a href="/endingNote/{{type}}/{{postId}}" id="{{postId}}" name="title" target="_blank">{{title}}</a></div>
                  <div class="td left">
                    <div class="content">
                      <a id="userProfile" class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                        <span class="img-circle">
                          <img src="{{g_getProfileImg postUserId 'thumb'}}" class="img-circle img-xs" alt=""/>
                        </span>
                        {{g_getNickName userNick}}
                      </a>
                      {{> dropdownMenuUserCard targetUserId=this.postUserId}}
                    </div>
                  </div>
                  <div class="td">{{g_dateFormChange regDate 'defaultYMD'}}</div>
                </div>
                {{/each}}
              </div>
              <!-- //panel-body -->
            </div>
            <!-- //panel-table -->
            <!-- pagination -->
            <!-- <div class="row text-center">
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm mypage">
                  <li>
                    <a href="javascript:void(0)" aria-label="Previous" class="disabled">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0002"></i><i class="imsr-icon icon-li0002"></i></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" aria-label="Previous" class="disabled">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0002"></i></span>
                    </a>
                  </li>
                  <li class="active"><a href="javascript:void(0)">1</a></li>
                  <li><a href="javascript:void(0)">2</a></li>
                  <li><a href="javascript:void(0)">3</a></li>
                  <li><a href="javascript:void(0)">4</a></li>
                  <li><a href="javascript:void(0)">5</a></li>
                  <li><a href="javascript:void(0)">6</a></li>
                  <li><a href="javascript:void(0)">7</a></li>
                  <li><a href="javascript:void(0)">8</a></li>
                  <li><a href="javascript:void(0)">9</a></li>
                  <li>
                    <a href="javascript:void(0)" aria-label="Next">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0003"></i></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" aria-label="Next">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0003"></i><i class="imsr-icon icon-li0003"></i></span>
                    </a>
                  </li>
                </ul>
                </nav>
            </div> -->
            <!-- pagination -->
          </div>
          <!-- //mypage-assets-table -->
      </div>
      <div id="from" class="tab-pane fade">
        <!-- mypage-assets-table -->
        <div class="mypage-assets-table requestReady">
            <!-- panel-table -->
            <div class="panel panel-default panel-table row-sm no-link type-link mypage">
              <!-- panel-head -->
              <div class="panel-heading">
                <div class="tr">
                    <div class="th" style="width:10%;">구분</div>
                    <div class="th" style="width:40%;">제목</div>
                    <div class="th" style="width:10%;">Total</div>
                    <div class="th" style="width:25%;">최근 댓글쓴 사람</div>
                    <div class="th" style="width:15%;">등록일</div>
                </div>
              </div>
              <!-- //panel-head -->
              <!-- panel-body -->
              <div class="panel-body">
                {{#each hpCommentData.from}}
                <!-- tr -->
                <div class="tr">
                  <div class="td">{{type}}</div>
                  <div class="td left"><a href="/endingNote/{{type}}/{{postId}}" id="{{postId}}" name="title"  target="_blank">{{title}}</a></div>
                  <div class="td">{{targetUserIds.length}}</div>
                  <div class="td left">
                    <div class="content">
                      <a id="userProfile" class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                        <span class="img-circle">
                          <img src="{{g_getProfileImg (hpLatestUser targetUserIds) 'thumb'}}" class="img-circle img-xs" alt=""/>
                        </span>
                        {{g_getNickName (hpLatestUser targetUserIds)}}
                      </a>
                       {{> dropdownMenuUserCard targetUserId=(hpLatestUser targetUserIds)}}
                    </div>
                  </div>
                  <div class="td">{{g_dateFormChange regDate 'defaultYMD'}}</div>
                </div>
                {{/each}}
              </div>
              <!-- //panel-body -->
            </div>
            <!-- //panel-table -->
            <!-- pagination -->
            <!-- <div class="row text-center">
              <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm mypage">
                  <li>
                    <a href="javascript:void(0)" aria-label="Previous" class="disabled">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0002"></i><i class="imsr-icon icon-li0002"></i></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" aria-label="Previous" class="disabled">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0002"></i></span>
                    </a>
                  </li>
                  <li class="active"><a href="javascript:void(0)">1</a></li>
                  <li><a href="javascript:void(0)">2</a></li>
                  <li><a href="javascript:void(0)">3</a></li>
                  <li><a href="javascript:void(0)">4</a></li>
                  <li><a href="javascript:void(0)">5</a></li>
                  <li><a href="javascript:void(0)">6</a></li>
                  <li><a href="javascript:void(0)">7</a></li>
                  <li><a href="javascript:void(0)">8</a></li>
                  <li><a href="javascript:void(0)">9</a></li>
                  <li>
                    <a href="javascript:void(0)" aria-label="Next">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0003"></i></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" aria-label="Next">
                      <span aria-hidden="true"><i class="imsr-icon icon-li0003"></i><i class="imsr-icon icon-li0003"></i></span>
                    </a>
                  </li>
                </ul>
                </nav>
            </div> -->
            <!-- pagination -->
          </div>
          <!-- //mypage-assets-table -->
      </div>
    </div>
  </div>
</div>
</template>
