<template name="imChangePasswordCompletePopup">
  <div class="modal-body">
    <div class="chg-pwd-complete-content">
      <img src='/images/common/time_lock.jpg' alt=''>
      <div class="chg-pwd-body">
        <div class="sub-title">
          새로운 비밀번호 변경이 완료되었습니다.
          <div class="sub-text">다음 로그인부터는 변경된 비밀번호로 로그인해주세요.</div>
        </div>

        <div class='button-container'>
  	      <a href='#' class='chg-complete' id="confirm">잇츠마이스토리 홈 바로가기</a>
    	  </div>
      </div>
    </div>

  </div>
</template>